.contact-icon {
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
  }
  @media (max-width: 767px) {
    .contact-icon {
      margin: auto; /* only horizontally center on mobile */
    }
  }
  .contact-icon > a {
    box-shadow: none;
  }