/* -- General Layout -- */

/* Required for footer to stick to the bottom */
html, body {
	height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0
}

img {
  margin: 0;
}

/* Main content */

.fixed {
  position: fixed;
  width: 100%;
  @media (min-width: 940px) {
    position: static;
  }
}

#main-header {
  text-align: left;
  padding: 24px 0 24px 0;
  position: relative;
}

#grid-container {
  display: grid;
  max-width: 730px;
  grid-template-areas: 
  "img img name name name name"
  "img img subheader subheader subheader subheader"
  "img img gmail twitter linkedin github";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

#gmail {
  grid-area: gmail;
}

#twitter {
  grid-area: twitter;
}

#linkedin {
  grid-area: linkedin;
}

#github {
  grid-area: github;
}

/* #header-container {
  text-decoration: none;
  //color: $text-color;
  margin:0 auto;
  max-width: 730px;
  padding: 0 1.5rem;
  justify-content: center;
  align-items: center;
} */
#lucas-img-container {
  justify-content: center;
  align-items: center;
  grid-area: img;
  display: flex;
}
#lucas-img {
  object-fit: contain;
}
#name-text {
  grid-area: name;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#subheader {
  grid-area: subheader;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.contact-icon {
  text-decoration: none;
}
.contact-icon > a {
  box-shadow: none;
}
/* #contact-icon-container {
  horizontal box like header-container
  text-decoration: none;
  color: $text-color;
  margin:0 auto;
  max-width: 730px;
  padding: .8rem 1.5rem .8rem 1.5rem;
  justify-content: center;
  align-items: center;
}
#contact-icon-container a img {
  object-fit: contain;
  padding: 0 10px 0 10px;
  @media (min-width: 768px) {
    padding: 0 2em 0 2em;
  }
} */
/* &:after {
  display: block;
  content: '';
  width: 5rem;
  height: 1px;
  margin: 23px auto;
  background-color: lighten($text-color, 70%);
} */
header > h1 {
  font-family: 'Signika', sans-serif;
  font-weight: 700;
}