<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  <div id="container">
      <main>
        <article id="post-page">
          <h2>{{ page.title }}</h2>		
          <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
          <div class="content">

            {{ content }}
            
          </div>
          <div>
            <a href="/">←Site home</a>
          </div>
        </article>
      </main>
    </div>
    <!-- Footer -->
    {% include footer.html %}

    <!-- Script -->
    {% include script.html %}
  </div>
</body>

</html>